* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.my-section{
  font-family:Helvetica, serif;
  background-color:#fafafa;
  padding:8px 8px 8px 8px;
}
.quote{
  color:#777;
  font-weight:300;
  padding:10px;
  box-shadow:-5px 0 5px 0 #ccc;
  font-style:italic;
  margin:20px 30px;
}
#my-title-div{
  padding:10px 10px 3px 10px;
  float:none;
}
#my-description{
  padding:10px;
}
.row{
  display:flex;
  justify-content:flex-start;
  align-items:stretch;
  flex-wrap:nowrap;
  padding:10px;
}
.cell{
  min-height:75px;
  flex-grow:1;
  flex-basis:100%;
}
#my-col-1{
  height:80%;
}
#my-col-2{
  flex-basis:30%;
}
#my-doc-iframe, #my-doc-iframe-2{
  height:95vh;
  width:100%;
}
#mobile_text{
  /*visibility: hidden;*/
  display: none;
  color: gray;
}
#footer{
  background-color: #292929;
}
#footer-div{
  padding: 10px;
}
.footer-text{
  color: white;
  font-size: small;
}
.footer-link{
  color: lightskyblue;
  font-size: small;
}
a.footer-link:visited{
  color: #caa3ee;
}
@media (max-width: 768px){
  .row{
    flex-wrap:wrap;
  }
  #mobile_text{
    display: block;
  }
}
