* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.my-section{
  font-family:Helvetica, serif;
  background-color:#fafafa;
  padding:8px 8px 8px 8px;
}
.quote{
  color:#777;
  font-weight:300;
  padding:10px;
  box-shadow:-5px 0 5px 0 #ccc;
  font-style:italic;
  margin:20px 10px;
}
.row{
  display:flex;
  justify-content:flex-start;
  align-items:stretch;
  flex-wrap:nowrap;
  padding:10px;
}
.cell{
  min-height:75px;
  flex-grow:1;
  flex-basis:100%;
}
.github{
  height: 16px;
}
.footer-text{
  color: white;
  font-size: small;
}
.footer-link{
  color: lightskyblue;
  font-size: small;
}
a.footer-link:visited{
  color: #caa3ee;
}
#my-col-1{
  height:80%;
}
#my-col-2, #my-col-02{
  flex-basis:30%;
}
#my-doc-iframe{
  height:95vh;
  width:100%;
}
#mobile_text{
  display: none;
  color: gray;
}
#my-title-div{
  padding:10px 10px 3px 10px;
  float:none;
}
#my-description{
  padding:10px;
}
#footer{
  background-color: #292929;
}
#header{
  background-color: #292929;
  color: white;
}
#footer-div{
  padding: 10px;
}
#my-img{
  margin: 20px 10px;
}
#side-bar{
  margin-left: 18px;
  color: gray;
}
#my-link-block{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 26px;
  height: 100%;
}
#my-camera-icon{
  width: 30%;
  height: auto;
  position: relative;
  padding: 10px;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.5);
}
#my-camera-icon:hover{
  transform: perspective(500px) translateZ(100px);
  transition: 200ms;
}
#my-camera-text{
  position: relative;
  top: 70px;
  left: 0;
}
@media (max-width: 768px){
  .row{
    flex-wrap:wrap;
  }
  #mobile_text{
    display: block;
  }
}
