.home-body {
    background-color: black;
    padding-top: 3rem;
}
.my-text {
    font-family: 'Libre Baskerville', serif;
    color: white;
}
.my-link {
    color: white;
}
.my-link:hover {
    color: red;
}
.my-link:active {
    color: red;
}
.my-title {
    font-family: 'Libre Baskerville', serif;
}